- name: Deploy VLAN from Git (Version Control Demo)
  hosts: all
  gather_facts: no
  connection: network_cli

  tasks:
    - name: Load VLAN config from Git
      set_fact:
        vlan_cfg: "{{ lookup('file', playbook_dir ~ '/../configs/vlan.txt') }}"

    - name: Apply VLAN configuration
      cisco.ios.ios_config:
        lines: "{{ vlan_cfg.splitlines() }}"
        save_when: modified

