- name: Detect unauthorized interface VLAN change (VLAN table based)
  hosts: all
  gather_facts: no

  tasks:
    - name: Load interface intent from golden file
      set_fact:
        golden: "{{ lookup('file', playbook_dir ~ '/../golden/' ~ inventory_hostname ~ '.yml') | from_yaml }}"

    - name: Get VLAN table from device
      cisco.ios.ios_command:
        commands:
          - show vlan brief
      register: vlan_output

    - name: Build VLAN-to-ports mapping
      set_fact:
        vlan_port_lines: "{{ vlan_output.stdout[0].splitlines() }}"

    - name: Find VLAN where interface is present
      set_fact:
        detected_vlan: >-
          {{
            vlan_port_lines
            | select('search', golden.interface_intent.name)
            | list
            | first
            | regex_findall('^(\\s*\\d+)')
            | first
            | int
            if (vlan_port_lines | select('search', golden.interface_intent.name) | list | length > 0)
            else 'NONE'
          }}

    - name: Show comparison
      debug:
        msg:
          - "Approved VLAN (Git): {{ golden.interface_intent.access_vlan }}"
          - "Detected VLAN on interface: {{ detected_vlan }}"

    - name: Fail if VLAN drift detected
      fail:
        msg: >-
          UNAUTHORIZED CHANGE:
          Interface {{ golden.interface_intent.name }}
          expected in VLAN {{ golden.interface_intent.access_vlan }}
          but found in VLAN {{ detected_vlan }}
      when: detected_vlan|string != golden.interface_intent.access_vlan|string


