- name: Detect unauthorized interface VLAN change
  hosts: all
  gather_facts: no

  tasks:
    - name: Load interface intent from golden file
      set_fact:
        golden: "{{ lookup('file', playbook_dir ~ '/../golden/' ~ inventory_hostname ~ '.yml') | from_yaml }}"

    - name: Get running config of interface
      cisco.ios.ios_command:
        commands:
          - "show running-config interface {{ golden.interface_intent.name }}"
      register: int_cfg

    - name: Extract access VLAN from interface config
      set_fact:
        device_vlan: >-
          {{ (int_cfg.stdout[0] | regex_findall('switchport access vlan (\\d+)'))[0] | default('NONE') }}

    - name: Show comparison
      debug:
        msg:
          - "Approved VLAN (Git): {{ golden.interface_intent.access_vlan }}"
          - "VLAN on interface: {{ device_vlan }}"

    - name: Fail if VLAN drift detected
      fail:
        msg: >-
          UNAUTHORIZED CHANGE:
          Interface {{ golden.interface_intent.name }}
          moved from VLAN {{ golden.interface_intent.access_vlan }}
          to VLAN {{ device_vlan }}
      when: device_vlan != golden.interface_intent.access_vlan|string

