- name: Detect unauthorized VLANs (Exclusive Compliance)
  hosts: all
  gather_facts: no

  tasks:
    - name: Load approved VLANs from golden file
      set_fact:
        golden_data: "{{ lookup('file', playbook_dir ~ '/../golden/' ~ inventory_hostname ~ '.yml') | from_yaml }}"

    - name: Set approved VLAN list
      set_fact:
        approved_vlans: "{{ golden_data.approved_vlans | map('int') | list }}"

    - name: Get running configuration
      cisco.ios.ios_command:
        commands:
          - show running-config
      register: running_cfg

    - name: Extract VLAN IDs from running-config
      set_fact:
        device_vlans: >-
          {{ running_cfg.stdout[0]
             | regex_findall('^vlan\\s+(\\d+)', multiline=True)
             | map('int')
             | list }}

    - name: Find unauthorized VLANs
      set_fact:
        unauthorized_vlans: "{{ device_vlans | difference(approved_vlans) }}"

    - name: Show compliance summary
      debug:
        msg:
          - "Approved VLANs (Git): {{ approved_vlans }}"
          - "VLANs in running-config: {{ device_vlans }}"
          - "Unauthorized VLANs: {{ unauthorized_vlans }}"

    - name: Fail if unauthorized VLANs exist
      fail:
        msg: "UNAUTHORIZED VLAN(S) DETECTED: {{ unauthorized_vlans }}"
      when: unauthorized_vlans | length > 0

